/* All headers */
.handsontable th {
  background-color: #3C3F41;
  &:last-child{
    border-right: 1px solid #515658;
    border-bottom: 1px solid #515658;
  }
  &:first-child{
    border-left: 1px solid #515658;
  }
}

/* Row headers */
.ht_clone_left th {
  background-color: #3C3F41;
  color: #727075;
}

/* Column headers */
.ht_clone_top th {
  background-color: #3C3F41;
  color: #727075;
}

/* Row headers */
/* Bottom */
.ht_clone_top_left_corner th {
  border-bottom: 1px solid #515658;
}
.handsontable.htRowHeaders thead tr th:nth-child(2){
  border-left: 1px solid #515658;
}
.handsontable tr:first-child th,
.handsontable tr:first-child td{
  border-top: 1px solid #515658;
}
.handsontable th:first-child,
.handsontable th:nth-child(2),
.handsontable td:first-of-type,
.handsontable .htNoFrame + th,
.handsontable .htNoFrame + td{
  border-left: 1px solid #515658;
}
/* Left and right */
.ht_clone_left th {
  border-right: 1px solid #515658;
  border-left: 1px solid #515658;
}

/* Column headers */
/* Top, bottom and right */
.ht_clone_top th {
  border-top: 1px solid #3C3F41 !important;
  border-right: 1px solid #515658;
  border-bottom: 1px solid #515658;
}

/* Left */
.ht_clone_top_left_corner th {
  border-right: 1px solid #17181C;
}

.ht_clone_top_left_corner th {
  background-color: #17181C;
}

.ht_clone_top_left_corner th {
  border: 1px solid #17181C !important;
}

/* Every odd row */
.ht_master tr:nth-of-type(odd) > td {
  background-color: #3C3F41;
}

/* Every even row */
.ht_master tr:nth-of-type(even) > td {
  background-color: #3C3F41;
}

/* Selected row  */
/* Add a custom class name in the configuration: currentRowClassName: "foo"; */

/* Specific row (2) */
.ht_master tr:nth-child(2) > td {
  background-color: #2B2B2B;
}

/* Bottom */
.ht_master tr > td {
  border-bottom: 1px solid #35393b;
  color: #7e8283;
}

/* Right */
.ht_master tr > td {
  border-right: 1px solid #515658;
}

/* Every odd column */
.ht_master tr > td:nth-of-type(odd) {
  background-color: #2B2B2B;
}

/* Every even column */
.ht_master tr > td:nth-of-type(even) {
  background-color: #2B2B2B;
}

/* Selected column  */
/* Add a custom class name in the configuration: currentColClassName: "foo"; */
.ht_master tr > td.foo {
  background-color: #2B2B2B;
}

/* Specific column (B) */
.ht_master tr > td:nth-child(3) {
  background-color: #2B2B2B;
}

/* Selected cell */
.ht_master tr > td.current {
  background-color: #2B2B2B;
}

/* Specific cell (B2) */
.ht_master tr:nth-child(2) > td:nth-child(3) {
  background-color: #2B2B2B;
}

/* Edit mode */
.handsontableInput {
  background-color: #1a1a1a !important;
  color: #fff;
  box-shadow: 0 0 0 2px #FA4D1E inset;
}

.handsontable td.area {
  background-image: linear-gradient(rgba(250, 77, 30, 0.34) 0%, rgba(250, 77, 30, 0.34) 100%) !important;
}

.wtBorder.area, .wtBorder.current {
  background-color: #FA4D1E !important;
}

.handsontable.ht__selection--columns thead th.ht__highlight,
.handsontable.ht__selection--rows tbody th.ht__highlight{
  background-color: rgba(250, 77, 30, 0.33);
}

.commentCell{
  position: relative !important;
  &:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-left: 6px solid transparent !important;
    border-top: 6px solid #fff !important;
  }
}
