.commentCell {
  position: relative !important; }
  .commentCell:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border-left: 6px solid transparent !important;
    border-top: 6px solid #000 !important; }
